{% extends "sumassess_base.html" %}

{% block sumassess_content %}
{% load static %}
<div class="container" id="sumassess">
    <h5>Добавление студентов в группу из {{year.grade_rus}}{{group.letter}} класса</h5>
    <form action="{% url 'sumassess:stud_addunit'%}" method="post">
        {% csrf_token %}
        <table class="table table-bordered student-choice">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Выбор</th>
                <th scope="col">ФИО</th>
                <th scope="col">Пол</th>
                <th scope="col">Подгруппы</th>
            </tr>

            {% for st in students %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{st.id}}">
                    </div>
                </td>
                <td>
                    {{ st.id }}. {{ st.shortname }}
                </td>
                <td>
                    {{ st.gender }}
                </td>
                <td>
                    {{ st.subgroup.name }}
                </td>
            </tr>
            {% endfor%}
            <tr>
                <td colspan="5">
                    <input class="btn btn-success" type="submit" value="Добавить студентов выбранных студентов">
                </td>
            </tr>
        </table>
    </form>

</div>

{% endblock %}