{% extends "sumassess_base.html" %}

{% block sumassess_content %}
{% load static %}
<div class="container" id="sumassess">
    <div class="wrapper-head-period">
        <h5>Ваши юниты</h5>
        <div class="period-bar">
            <div class="period-year">
                Учебный год: {{current_year.year}}
            </div>
            <div class="period-trimester">
                <select class="form-select form-select-lg" id="period" name="period_list" class="form-select" onChange="redirectUrl(value)">
                    <option value='NaN'>Все триместры</option>
                {% for period in periods %}
                <option value="{{period.id}}" 
                {% if period.id == current_period %} selected="selected" {% endif %}>
                    {{period.name}}
                </option>
                {% endfor %}
            </select>
            </div>
        </div>
    </div>

    <ul class="list-group">
        {% regroup units by year_ib as years %}
        {% for year in years %}
        <li class="list-group-item">
            <h5><b> {{year.grouper.programm}} Year {{year.grouper.year_ib}} ({{year.grouper.grade_rus}} классы)</b></h5>
            <table class="table">
                {% for unit in year.list %}
                <tr>
                    <th style="width: 80px;">{{ unit.subject.name }}</th>
                    <td style="width: 120px;">{{ unit.period.name }}</td>
                    <td><a class="unit-link-edit" href="{% url 'sumassess:unit_edit' unit.pk %}">{{ unit.name }} <img src="{% static 'img/pencil.svg' %}" width="10px" height="auto"/></a></td>
                    <td style="width: 180px;">
                        <div class="unit-group-wrapper">
                        {% for gr in year.grouper.group_year.all %}
                        <a href="{% url 'sumassess:students'%}?unit={{unit.id}}&class={{gr.id}}">
                                <div class="unit-group">{{gr.year.grade_rus}}{{gr.letter}}</div>
                        </a>
                        {% endfor %}
                    </div>
                    </td>
                    <td style="width: 50px;">
                        <a style="display: flex" href="{% url 'sumassess:unit_delete' unit.pk %}">
                            <img style="margin-top: 5px" src="{% static 'img/delete.svg' %}" alt="" width="33px" height="auto">
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </li>
        {% endfor %}
    </ul>
    <div class="buttons-wrapper">
        <input type="button" class="btn btn-success" value="Создать юнит" onClick="createUnitUrl()">
    </div>
    
</div>
<script>
    function redirectUrl(period) {
        if (isNaN(period)) {
            location.href = "/sumassess/" 
        } else {
            location.href = "/sumassess/?period="+period
        }
    };

    function createUnitUrl() {
            location.href = "/sumassess/unit/create/" 
    }
</script>
{% endblock %}