{% extends "sumassess_base.html" %}

{% block sumassess_content %}
{% load static %}
<h4>Журнал итогового оценивания</h4>
<br>

<h5>Текущий юнит: {{ unit_data.name }} ({{unit_data.subject.name}}, {{unit_data.period.name}})</h5>
<p>Текущий класс: {{group_data.year.grade_rus}}{{group_data.letter}}</p>
{{ unit_data.id|json_script:"dataUnit" }}
{{ group_data.id|json_script:"dataGroup" }}
{{ user.id|json_script:"dataUser" }}


<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Критерии оценки текущего юнита:
                </button>
                {% regroup unit_data.objective.all by criteria.letter as crits %}
                {% for cr in crits %}
                {{cr.grouper}}
                [{% for obj in cr.list %} {{obj.strand.letter}} {% endfor %}]
                {% endfor %}
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {% verbatim %}
                <div id="appunit" v-cloak>
                    <div v-for="cr in criteria">
                        <h5>{{cr.letter}}. {{cr.name_rus}}</h5>
                        <div class="form-check" v-for="obj in currentObj[cr.letter]">
                            <input class="form-check-input" type="checkbox" :value="obj.id" :id="'check'+obj.id"
                                v-model="selectedObj" :disabled="showButtonChange">
                            <label class="form-check-label" :for="'check'+obj.id">
                                <b>{{obj.strand.letter}}</b>. Студент должен {{obj.name_rus}}
                            </label>
                        </div>
                    </div>
                    <div class="btn-objectives">
                        <button type="button" class="btn btn-warning" @click="changeClick" v-if="showButtonChange">
                            Изменить </button>
                        <button type="button" class="btn btn-success" @click="saveClick" v-if="showButtonSave">
                            Сохранить </button>
                        <button type="button" class="btn btn-secondary" @click="cancelClick" v-if="showButtonSave">
                            Отмена </button>
                    </div>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>
<h5 style="margin-top: 10px">Список студентов</h5>
<table class="table table-bordered">
    <tr>
        <th scope="col" rowspan="2">№</th>
        <th scope="col" rowspan="2" style="width: 200px;">ФИО студента</th>
        <th scope="col" rowspan="2">Средняя оценка по текущим</th>
        <th scope="col" colspan="5">IB-оценка за итоговое оценивание</th>
        <th scope="col" rowspan="2">РФ-оценка за итоговое оценивание</th>
        <th scope="col" rowspan="2">Средняя итоговая оценка</th>
    </tr>
    <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>&sum;</th>
    </tr>
    {% for st in students %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            <a href="{% url 'sumassess:assessment' st.pk unit_data.year_ib.pk unit_data.pk%}">
                {{ st.student.shortname}}
            </a>
        </td>
        <td class="text-center"> {{student_marks|get_id_dnevnik:st}} </td>

        <td {% if 'A' not in objectives %} class="td-not-criterion text-center"></td>{% else %}>{{ st.mark_a }}</td>{% endif %}
        <td {% if 'B' not in objectives %} class="td-not-criterion text-center"></td>{% else %}>{{ st.mark_b }}</td>{% endif %}
        <td {% if 'C' not in objectives %} class="td-not-criterion text-center"></td>{% else %}>{{ st.mark_c }}</td>{% endif %}
        <td {% if 'D' not in objectives %} class="td-not-criterion text-center"></td>{% else %}>{{ st.mark_d }}</td>{% endif %}
        <td class="text-center">{{ st.sum_mark }}</td>
        <td class="text-center">{{ st.rus_mark }}</td>
        <td class="text-center">{% final_mark st.rus_mark student_marks st.student %}</td>
        <td><a href="{% url 'sumassess:student_delete' st.pk %}">
                <img src="{% static 'img/remove.svg' %}" alt="" width="25px" height="auto">
            </a></td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="10">
            {% verbatim %}
            <div id="appstudent" v-cloak>
                <div class="buttons-wrapper">
                    <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        v-on:click="getStudent" value="Добавить студентов" >
                    <input type="submit" class="btn btn-secondary" @click="goToBack" value="Вернуться">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Добавление студентов {{
                                    group.grade }}{{ group.letter }} класса в журнал</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered student-choice">
                                    <tr>
                                        <th scope="col">№</th>
                                        <th scope="col">Студенты</th>
                                        <th scope="col">Класс</th>
                                    </tr>
                                    <tr v-for="(st, idx) in studentGroup">
                                        <td>{{idx+1}}</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" :value="st.id"
                                                    :id="'check'+st.id" v-model="selectedStudent"
                                                    :disabled="addedStudent(st.assessment_student)">
                                                <label class="form-check-label" :for="'check'+st.id">
                                                    {{ st.shortname }}
                                                </label>
                                            </div>
                                        </td>
                                        <td>{{ st.group.year.grade_rus }}{{ st.group.letter }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <input type="submit" class="btn btn-primary" value="Добавить выбранных студентов"
                                    @click="addStudent">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endverbatim %}
        </td>
    </tr>
</table>

{% endblock %}

{% block load_vue %}
<script src="/static/js/unitstud.js"></script>
{% endblock %}