{% extends "sumassess_base.html" %}

{% block sumassess_content %}
{% load static %}
{% verbatim %}
<div class="container" id="sumassess">
    <h5>Критерии оценивания по предметной группе: Design</h5>
    <div class="btn-group btn-year" role="group">
        <button type="button" class="btn btn-secondary" v-for="yb in year_ib" v-on:click="getObjective(yb.year_ib)">
            {{ yb.programm }} Year {{ yb.year_ib }}
        </button>
    </div>

    <div class="accordion" id="accordionObjective">
        <div class="card" v-for="cri in criteria">
          <div class="card-header" :id="'heading'+cri.letter">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#'+cri.letter" aria-expanded="true" aria-controls="collapseOne">
                {{cri.letter}}. {{cri.name_rus}}
              </button>
            </h5>
          </div>
          <div :id="cri.letter" class="collapse" aria-labelledby="headingOne" data-parent="#accordionObjective" >
            <div class="card-body">
                <div style="padding: 10px 0">
                    Студент должен:
                </div>
                <ul class="list-group">
                    <li class="list-group-item" v-for="obj in currentObj[cri.letter]">{{ obj.name_rus }}</li>
                </ul>
                
            </div>
          </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block load_vue %}
<script src="/static/js/app.js"></script>
{% endblock %}
