<!-- templates/equipment_delete.html -->
{% extends 'storage_base.html' %}
{% block title %} Склад. Удаление {{ equipment.name }} {% endblock %}

{% block storage_content %}
{% load static %}
<h3> Удаление: {{ equipment.name }}</h3>
<form action="" method="post">{% csrf_token %}
  <p>Вы подтверждаете удаление "{{ equipment.name }}"?</p>
  <div class="buttons-wrapper">
    <input class="btn btn-danger" type="submit" value="Удалить" />
    <a class="btn btn-secondary" href="" onclick="javascript:history.back();return false;">Отмена</a>
  </div>
</form>
{% endblock %}