<!-- templates/things_edit.html -->
{% extends 'storage_base.html' %}
{% block title %} Склад. Редактирование {{ thing.name_manufacturer }} {% endblock %}

{% block storage_content %}
{% load static %}
{% if thing.name_manufacturer %}
<h3> Редактирование: {{ thing.name_manufacturer }} ({{ thing.inventory_number }}) </h3>
{% else %}
<h3> Добавление новой позиции на склад </h3>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="wrapper-thing-data">
        <div class="thing-data">
            <table class='table'>
                <tr>
                    <td style="width: 150px;"><label for="id_name_manufacturer"> Название от производителя: </label>
                    </td>
                    <td>{{form.name_manufacturer}}</td>
                </tr>
                <tr>
                    <td><label for="id_manufacturer"> Производитель: </label> </td>
                    <td>{{form.manufacturer}}</td>
                </tr>
                <tr>
                    <td><label for="id_url_site"> Ссылка на сайт: </label> </td>
                    <td>{{form.url_site}}</td>
                </tr>
                <tr>
                    <td><label for="id_name_bookkeeping"> Наименование по бухгалтерии: </label> </td>
                    <td>{{form.name_bookkeeping}}</td>
                </tr>
                <tr>
                    <td><label for="id_inventory_number"> Инвентарный номер: </label> </td>
                    <td>{{form.inventory_number}}</td>
                </tr>
                <tr>
                    <td><label for="id_description"> Описание: </label> </td>
                    <td>{{form.description}}</td>
                </tr>
                <tr>
                    <td><label for="id_base_location"> Базовая локация: </label> </td>
                    <td>{{form.base_location}}</td>
                </tr>
                <tr>
                    <td><label for="id_price"> Цена поставки: </label> </td>
                    <td>{{form.price}}</td>
                </tr>
                <tr>
                    <td><label for="id_count}"> Количество: </label> </td>
                    <td>{{form.count}}</td>
                </tr>
                <tr>
                    <td><label for="id_finresp}"> Ответственный: </label> </td>
                    <td>{{form.finresp}}</td>
                </tr>
            </table>
        </div>
        <div class="wrapper-thing-img">
            <div class="thing-img">
                <label for="id_photo"> Фотография позиции: </label>
                {% if thing.photo %}
                <img src="{{ thing.photo.url }}" alt="" width="200px" height="auto">
                {% else %}
                <img src="{% static 'img/unknown.svg' %}" alt="" width="200px" height="auto">
                {% endif %}
                
                {{form.photo}}
            </div>
            <div class="location-img">
                <label for="id_photo"> Фотография локации: </label>
                {% if thing.photo_base_location %}
                <img src="{{ thing.photo_base_location.url }}" alt="" width="200px" height="auto">
                {% else %}
                <img src="{% static 'img/unknown_place.svg' %}" alt="" width="200px" height="auto">
                {% endif %}
                {{form.photo_base_location}}
            </div>
        </div>

    </div>
    <div class="buttons-wrapper">
        <input class="btn btn-success" type="submit" value="Сохранить" />
        <a class="btn btn-secondary" href="{% url 'storage:things' %}">Отмена</a>
    </div>
</form>
{% endblock %}