{% extends "storage_base.html" %}

{% block title %}Склад кафедры{% endblock %}

{% block storage_content %}
{% load static %}
<h5 class="mt-3">Список позиций по учётным документам</h5>
<div>
    <form action="" method="get">
        <div class="filter-things">
            <div class="filter-item">
                <!-- <label for="id_name_manufacturer"> Наименование: </label> -->
                {{ filter.form.name_manufacturer }}
            </div>
            <div class="filter-item">
                <!-- <label for="id_base_location"> Помещение: </label> -->
                {{ filter.form.base_location }}
            </div>
            <div class="filter-item">
                <!-- <label for="id_finresp"> Ответственный: </label> -->
                {{ filter.form.finresp }}
            </div>
            <div class="filter-buttons">
                <input class="btn btn-info" type="submit" value="Фильтр" />
                <a class="btn btn-secondary" href="{% url 'storage:things' %}">Отмена</a>
            </div> <br>
        </div>
    </form>
</div>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col" style="min-width: 90px;">№</th>
            <th scope="col" style="max-width: 50px;">Фото</th>
            <th scope="col">Наименование</th>
            <th scope="col" style="width: 90px; text-align: center">Кол-во</th>
            <th scope="col" style="width: 90px; text-align: center">Каб.</th>
            <!-- <th scope="col" style="max-width: 70px;">Склад</th> -->
            <th scope="col" style="min-width: 100px; text-align: center">Отв.</th>
            <th scope="col" style="min-width: 100px;">Используют</th>
        </tr>
    </thead>
    {% for thing in things %}
    <tr>
        <th scope="row">{{ thing.get_id }}</th>
        <td>
            {% if thing.photo %}
            <img src="{{ thing.photo.url }}" alt="" width="100px" height="auto">
            {% else %}
            <img src="{% static 'img/unknown.svg' %}" alt="" width="50px" height="auto">
            {% endif %}
        </td>
        <td><a href="{% url 'storage:things_detail' thing.pk %}">{{ thing.name_manufacturer }}</td>
        <td style="text-align: center">{{ thing.count }}</td>
        <td style="text-align: center">{{ thing.base_location }}</td>
        <!-- <td style="text-align: center">{{ thing.count_storage }}</td> -->
        <td>
            <div class="finresp-wrapper">
                <div class="finresp-photo">
                    {% if thing.finresp.photo %}
                    <img src="{{ thing.finresp.photo.url }}" alt="" width="40px" height="auto">
                    {% else %}
                    <img src="{% static 'img/noname.svg' %}" alt="" width="40px" height="auto">
                    {% endif %}
                </div>
                <div>
                    <!-- {{ thing.finresp.get_short_name }} -->
                </div>
            </div>
        </td>
        <td>
            <div class="use-emp-data">
                {% for usething in thing.use_thing.all %}
                <div> <a href="{% url 'storage:usethings_edit' usething.pk %}">
                        {% if usething.employee.photo %}
                        <img src="{{ usething.employee.photo.url }}" alt="{{usething.employee.surname }}"
                            title="{{usething.employee.get_short_name }} - {{usething.count}} шт." width="40px"
                            height="auto" class="emp-mini-photo">
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </td>
        <td><a href="{% url 'storage:usethings_create' %}?thing={{thing.pk}}">
                <img src="{% static 'img/hand.svg' %}" alt="" width="30px" height="auto">
            </a></td>
        <td><a href="{% url 'storage:things_edit' thing.pk %}">
                <img src="{% static 'img/pencil.svg' %}" alt="" width="25px" height="auto">
            </a></td>
        </td>
        <td><a href="{% url 'storage:things_delete' thing.pk %}">
                <img src="{% static 'img/remove.svg' %}" alt="" width="25px" height="auto">
            </a></td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; На первую</a>
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
<div class="buttons-wrapper">
    <a class="btn btn-primary" href="{% url 'storage:things_create' %}">Добавить</a>
</div>


{% endblock %}