<!-- templates/thing_detail.html -->
{% extends 'storage_base.html' %}
{% block title %} Склад. Просмотр {{ thing.name_manufacturer }} {% endblock %}

{% block storage_content %}
{% load static %}
<h3> {{ thing.name_manufacturer }} ({{ thing.get_id }}) </h3>

<div class="wrapper-thing-detail">
    <div class="img-thing-detail">
        {% if thing.photo %}
        <img src="{{ thing.photo.url }}" alt="" width="300px" height="auto">
        {% else %}
        <img src="{% static 'img/unknown.svg' %}" alt="" width="200px" height="auto">
        {% endif %}
    </div>
    <div>
        <table class="table">
            <tr>
                <th scope="row" style="width: 200px;">Название (по бухгалтерии):</th>
                <td>{{ thing.name_bookkeeping }}</td>
            </tr>
            <tr>
                <th scope="row">Инвентарный номер:</th>
                <td>{{ thing.get_invnumber }}</td>
            </tr>
            <tr>
                <th scope="row">Статус:</th>
                <td>{{ thing.status }}</td>
            </tr>
            <tr>
                <th scope="row">Количество:</th>
                <td>{{ thing.count }} шт.</td>
            </tr>
            <tr>
                <th scope="row">В доступе:</th>
                <td>{{ thing.count_storage }} шт.</td>
            </tr>
            <tr>
                <th scope="row">Материально-ответственное лицо:</th>
                <td>
                    <div class="finresp-photo">
                        {% if thing.finresp.photo %}
                        <img src="{{ thing.finresp.photo.url }}" alt="" width="40px" height="auto">
                        {% else %}
                        <img src="{% static 'img/noname.svg' %}" alt="" width="40px" height="auto">
                        {% endif %}
                        <p>{{ thing.finresp.surname }} {{ thing.finresp.name }} {{ thing.finresp.patronymic }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Комментарии: </th>
                <td>{{ thing.comment }}</td>
            </tr>
        </table>
    </div>
</div>

<h5>Элементы: </h5>
<table class="table table-bordered table-sm">
    <tbody>
        <th style="width: 50px;">№</th>
        <th style="max-width: 80px;">Фото</th>
        <th>Элемент</th>
        <th style="width: 80px;">Кол-во</th>
        <th>Состояние</th>
    </tbody>
    {% for eq in thing.compos_thing.all %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            {% if eq.equipment.photo %}
            <img src="{{ eq.equipment.photo.url }}" alt="" width="50px" height="auto">
            {% else %}
            <img src="{% static 'img/element.svg' %}" alt="" width="50px" height="auto">
            {% endif %}
        </td>
        <td>
            <div class="edit-container">
                <a href="">
                    {{ eq.equipment.name }}
                </a>
                <div class="edit-icons">
                    <a href="{% url 'storage:compos_equipment_edit' eq.pk %}" title="Редактировать запись">
                        <img src="{% static 'img/pencil.svg' %}" alt="" width="20px" height="auto">
                    </a>
                    <a href="{% url 'storage:compos_equipment_delete' eq.pk %}" title="Удалить запись">
                        <img src="{% static 'img/remove.svg' %}" alt="" width="20px" height="auto">
                    </a>
                </div>
            </div>
        </td>
        <td>{{ eq.count }}</td>
        <td>
            <div class="use-emp-data">
                {% for status in eq.equipment.status_equipment.all %}
                <div>
                    {% if status.user %}
                    <img src="{{ status.user.photo.url }}" alt="{{status.user.surname }}"
                        title="{{ status.name }} - {{status.count}} шт." width="30px" height="auto"
                        class="emp-mini-photo">
                    {% else %}
                    <img src="{% static 'img/break.svg' %}" alt="{{status.user.surname }}"
                        title="{{ status.name }} - {{status.count}} шт." width="30px" height="auto"
                        class="emp-mini-photo">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5">
            <a class="btn btn-primary"
                href="{% url 'storage:compos_equipment_create' %}?thing={{thing.pk}}">Добавить элемент</a>
        </td>
    </tr>
</table>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Дополнительные данные
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

                <div class="mb-5">
                    <table class="table">
                        <tr>
                            <th scope="row">Производитель: </th>
                            <td>{{ thing.manufacturer }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ссылка на сайт: </th>
                            <td>{{ thing.url_site }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Цена поставки: </th>
                            <td>{{ thing.price }} руб.</td>
                        </tr>
                        <tr>
                            <th scope="row">Описание: </th>
                            <td>{{ thing.description }}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="width: 300px;">Базовое местоположение:</th>
                            <td>{{ thing.base_location }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Фотография места:</th>
                            <td>
                                {% if thing.photo_base_location %}
                                <img src="{{ thing.photo_base_location.url }}" alt="" width="300px" height="auto">
                                {% else %}
                                <img src="{% static 'img/unknown_place.svg' %}" alt="" width="200px" height="auto">
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% if thing.use_thing.all %}
<h5>Использование: </h5>
<table class="table">
    <tbody>
        <th colspan="2">ФИО сотрудника</th>
        <th>Информация</th>
        <th>Местоположение</th>
    </tbody>
    {% for usething in thing.use_thing.all %}
    <tr>
        <td style="width: 50px;">
            {% if usething.employee.photo %}
            <img src="{{ usething.employee.photo.url }}" alt="{{usething.employee.surname }}" width="100px"
                height="auto" class="emp-normal-photo">
            {% endif %}
        </td>
        <td style="min-width: 200px;">{{ usething.employee.surname }} <br>
            {{ usething.employee.name }} <br>
            {{usething.employee.patronymic }}</td>
        <td style="max-width: 400px;">
            <div>Кол-во: <b>{{usething.count}} шт.</b></div>
            <div>Обоснование: {{usething.justification}}</div>
            <div>Запись внесена: {{usething.created}}</div>
        </td>
        <td>{{usething.location}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
            <a class="btn btn-primary"
                href="{% url 'storage:usethings_create' %}?thing={{thing.pk}}">Добавить пользователя</a>
        </td>
    </tr>
</table>
{% else %}
<h4>Данная позиция никому не была передана</h4>
{% endif %}
<div class="buttons-wrapper">
    <a class="btn btn-secondary" href="{% url 'storage:things' %}">Вернуться к списку</a>
</div>
{% endblock %}