{% extends "storage_base.html" %}

{% block title %}МТО кафедры{% endblock %}

{% block storage_content %}
{% load static %}
<div>

    <div class="d-flex mb-2">
        {% if request.user|has_group:"storageman" %}
        <a class="btn btn-success mr-3" href="{% url 'storage:thing_create' %}">Создать новую позицию</a>
        {% endif %}
        <a class="btn btn-primary mr-3" data-toggle="collapse" href="#collapse_filter" role="button" aria-expanded="false"
            aria-controls="collapse_filter">Фильтрация</a>
        <b class="ml-auto">Количество записей: {{paginator.count}}</b>
    </div>

    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse {% if is_filter %} show {% endif %}" id="collapse_filter">
                <div class="card card-body">
                    <form action="{% url 'storage:index' %}" method="get">
                        <div class="form-row">
                            <div class="col-2 d-flex flex-column">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="is_accounting" id="id_isacc_all"
                                        value="" checked>
                                    <label class="form-check-label" for="id_isacc_all">
                                        Все
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="is_accounting" id="id_isacc_true"
                                        value="True" {% if is_accounting == 'True' %} checked {% endif %}>
                                    <label class="form-check-label" for="id_isacc_true">
                                        На балансе
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="is_accounting"
                                        id="id_isacc_false" value="False" 
                                        {% if is_accounting == 'False' %} checked {% endif %}>
                                    <label class="form-check-label" for="id_isacc_false">
                                        Без учёта
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-row mb-1">
                                    <div class="col-4">
                                        <div class="form-check">
                                            <input type="checkbox" name="is_material" value="True"
                                                class="form-check-input" id="id_is_material" 
                                                {% if is_material == 'True' %} checked {% endif %}>
                                            <label class="form-check-label" for="id_is_material">Расх. материал</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="name" class="form-control" value="{{name}}"
                                            placeholder="Наименование">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <select class="form-control" name="status">
                                            <option selected disabled>Статус</option>
                                            {% for stat in statuses %}
                                            <option value={{stat.id}} {% if status == stat.id %} selected {% endif %}>
                                                {{stat.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-control" name="cabinet">
                                            <option selected disabled>Кабинет</option>
                                            {% for cab in cabinets %}
                                            <option value={{cab.id}} {% if cabinet == cab.id %} selected {% endif %}>
                                                {{cab.label}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-control" name="employee">
                                            <option selected disabled>Сотрудник</option>
                                            {% for emp in employees %}
                                            <option value={{emp.id}} {% if employee == emp.id %} selected {% endif %}>
                                                {{emp.get_short_name}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 d-flex flex-column">
                                <input class="btn btn-info mb-1" type="submit" value="Фильтр" />
                                <a class="btn btn-secondary" href="{% url 'storage:index' %}">Сбросить</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover table-sm mt-3">
    <thead>
        <tr>
            <th scope="col" style="width: 100px;">Фото</th>
            <th scope="col" style="min-width: 100px; max-width: 200px">Наименование</th>
            <th scope="col" style="width: 90px; text-align: center">Кол-во</th>
            <th scope="col" style="width: 90px;">Хранение</th>
            <th scope="col" style="min-width: 100px;">Использование</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    {% for thing in things %}
    <tr>
        <td class="position-relative">
            {% if thing.is_accounting %}
            <img class="position-absolute" style="top: 7px; left: 8px;" src="{% static 'img/sk.png' %}" width="25px" height="auto">
            {% endif %}
            {% if thing.is_material %}
                <img class="position-absolute" style="top: 7px; right: 8px;" src="{% static 'img/material.svg' %}" width="20px" height="auto">
            {% endif %}
            <img class="img-thumbnail" src="{% if thing.picture %}{{ thing.picture.url }}
            {% else %}{% static 'img/unknown.svg' %}{% endif %}" alt="" width="100px" height="auto">
            <div class="position-absolute d-flex" style="bottom: 6px; left: 5px;">
                {% for st in thing.status_thing.all %}
                    <img class="mr-1" src="{{ st.status.picture.url }}" alt="" width="25px" height="auto">
                {% endfor %}
            </div>
        </td>
        <td>
            <div>
                <a href="{% url 'storage:thing_detail' thing.pk %}"> {{ thing.name }} </a>
            </div>
        </td>
        <td style="text-align: center">{{ thing.count_storage }} / {{ thing.count }}</td>
        <td>
            {% if thing.loc_cabinet %}
            <a href="#" data-toggle="modal" data-target="#modalLoc{{thing.id}}">
                <img src="{% static 'img/eye.svg' %}" alt="" width="25px" height="auto"></a>
            {{ thing.loc_cabinet.label }}

            <div class="modal fade" id="modalLoc{{thing.id}}" tabindex="-1" role="dialog"
                aria-labelledby="modalLocLabel{{thing.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLocLabel{{thing.id}}">Хранение<br>{{thing.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tr>
                                    <td>Описание местоположения</td>
                                    <td>{{ thing.loc_name }}</td>
                                </tr>
                                <tr>
                                    <td>Кабинет</td>
                                    <td>{{ thing.loc_cabinet.label }} ({{ thing.loc_cabinet.name }})</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;">
                                        {% if thing.loc_photo %}
                                        <img src="{{ thing.loc_photo.url }}" alt="" width="100%" height="auto">
                                        {% else %}
                                        <img src="{% static 'img/unknown_place.svg' %}" alt="" width="200px"
                                            height="auto">
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            ?
            {% endif %}
        </td>
        <td>
            <div class="d-flex">
                {% if thing.use.all %}
                {% for use in thing.use.all %}
                <div>
                    <a href="#" data-toggle="modal" data-target="#modalUse{{use.id}}">
                        {% if use.employee.photo %}
                        <img src="{{ use.employee.photo.url }}" alt="{{use.employee.surname }}"
                            title="{{use.employee.get_short_name }} - {{use.count}} шт." width="40px" height="auto"
                            class="emp-mini-photo">
                        {% endif %}
                    </a>

                    <div class="modal fade" id="modalUse{{use.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="modalUseLabel{{use.id}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalUseLabel{{use.id}}">
                                        Использование<br>{{thing.name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <tr>
                                            <td>Сотрудник:</td>
                                            <td>{{ use.employee.surname }} {{ use.employee.name }} 
                                                {{ use.employee.patronymic }}</td>
                                        </tr>
                                        <tr>
                                            <td>Количество:</td>
                                            <td>{{ use.count }}</td>
                                        </tr>
                                        <tr>
                                            <td>Местоположение:</td>
                                            <td>{{ use.loc_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Кабинет:</td>
                                            <td>{{ use.loc_cabinet.label }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: center;">
                                                {% if use.loc_photo %}
                                                <img src="{{ use.loc_photo.url }}" alt="" width="100%"
                                                    height="auto">
                                                {% else %}
                                                <img src="{% static 'img/unknown_place.svg' %}" alt="" width="200px"
                                                    height="auto">
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Цель использования:</td>
                                            <td>{{ use.justification }}</td>
                                        </tr>
                                        <tr>
                                            <td>Обновление:</td>
                                            <td>{{ use.updated }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    {% if request.user|has_group:"storageman" %}
                                    <a class="btn btn-warning"
                                        href="{% url 'storage:usething_edit' thing.pk use.pk %}">Редактировать</a>
                                    <a class="btn btn-danger"
                                        href="{% url 'storage:usething_delete' thing.pk use.pk %}">Возврат</a>
                                    {% endif %}
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
                {% else %}
                Никто не использует
                {% endif %}
            </div>
        </td>
        {% if request.user|has_group:"storageman" %}
        <td><a href="{% url 'storage:usething_create' thing.pk %}">
                <img src="{% static 'img/add-user.svg' %}" alt="" width="30px" height="auto">
            </a></td>
        <td><a href="{% url 'storage:thing_edit' thing.pk %}">
                <img src="{% static 'img/pencil.svg' %}" alt="" width="25px" height="auto">
            </a></td>
        </td>
        <td><a href="{% url 'storage:thing_delete' thing.pk %}">
                <img src="{% static 'img/remove.svg' %}" alt="" width="25px" height="auto">
            </a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% if is_paginated %}
<div class="thing-pagination">
    <nav aria-label="things">
        <ul class="pagination">
            {% for page in paginator%}
            <li class="page-item {% if page_obj.number == page.number %} active {% endif %}">
                {% if is_accounting or name or cabinet or employee or is_material or status %}
                <a class="page-link"
                    href="?is_accounting={{is_accounting}}&is_material={{is_material}}&name={{name}}&cabinet={{cabinet}}&employee={{employee}}&status={{status}}&page={{page.number}}">
                    {{page.number}}
                </a>
                {% else %}
                <a class="page-link" href="?page={{page.number}}">
                    {{page.number}}
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endif %}

{% endblock %}