<!-- templates/things_edit.html -->
{% extends 'storage_base.html' %}
{% block title %} Запись об использовании {{ usethings.thing }} {% endblock %}

{% block storage_content %}
{% load static %}
{% if usethings.thing %}
<h3> Редактирование: </h3> <strong>{{ usethings.thing }}</strong>
{% else %}
<h3> Добавление новой записи </h3>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="wrapper-usething-data">
        <div class="usething-data">
            <table>
                <tr>
                    <td><label for="id_thing"> Позиция: </label> </td>
                    <td colspan="3">{{form.thing}}</td>
                </tr>
                <tr>
                    <td><label for="id_employee"> Сотрудник: </label> </td>
                    <td style="max-width: 200px;">{{form.employee}}</td>
                    <td><label for="id_count"> Кол-во: </label> </td>
                    <td style="width: 80px;">{{form.count}}</td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td><label for="id_justification"> Обоснование </label> </td>
                    <td colspan="3">{{form.justification}}</td>
                </tr>
                <tr>
                    <td><label for="id_location"> Местоположение: </label> </td>
                    <td colspan="3">{{form.location}}</td>
                </tr>
            </table>
        </div>
        <div class="usething-img">
            {% if currentthing %}
            <img {% if currentthing.photo %} src="{{ currentthing.photo.url }}" {% else %}
                src="{% static 'img/teacher.svg' %}" {% endif %} alt="" width="300px" height="auto">
            <img {% if currentthing.photo_base_location %} src="{{ currentthing.photo_base_location.url }}" {% else %}
                src="{% static 'img/teacher.svg' %}" {% endif %} alt="" width="300px" height="auto">
            {% endif %}
            {% if usethings.thing %}
            <img {% if usethings.thing.photo %} src="{{ usethings.thing.photo.url }}" {% else %}
                src="{% static 'img/teacher.svg' %}" {% endif %} alt="" width="300px" height="auto">
            <img {% if usethings.thing.photo_base_location %} src="{{ usethings.thing.photo_base_location.url }}" {%
                else %} src="{% static 'img/teacher.svg' %}" {% endif %} alt="" width="300px" height="auto">
            {% endif %}
        </div>
    </div>
    <div class="buttons-wrapper">
        <input class="btn btn-success" type="submit" value="Сохранить" />
        {% if usethings.thing %}
        <a class="btn btn-danger" href="{% url 'storage:usethings_delete' usethings.pk %}"> Возврат </a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'storage:things' %}">Отмена</a>
    </div>

</form>

{% endblock %}