<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/exlogo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}АИС кафедры ДиТ{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col"> </div>
            <div class="col-10">
                <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="{% url 'employee:index' %}">
                            <img src="{% static 'img/exlogo.svg' %}" width="30" height="30"
                                class="d-inline-block align-top" alt="">
                            АИС кафедры ДиТ
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                {% if username %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'employee:users' %}">Сотрудники</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <span class="navbar-text">
                            {% if show_login %}
                            {% if username %}
                            Привет, <a href="{% url 'employee:user_edit' user.username %}">
                                {{ user.name }} ({{ user.username }})
                            </a>! <a href="/accounts/logout"> Выйти</a>
                            {% else %}
                            <!-- <a href="/accounts/signup/">Зарегистрироваться</a> или  -->
                            <a href="/accounts/login/">Войти на сайт</a>!
                                {% endif %}

                                {% endif %}
                        </span>
                    </nav>
                </header>

                <div class="content">
                    <div class="appname-wrapper">
                        {% block extra_head %}
                        {% endblock %}
                    </div>
                    {% block extra_base %}




                    {% endblock %}
                </div>
            </div>
            <div class="col"> </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <div>&copy; Алексей Сёмочкин, 2021</div>
                    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                    <div>Icons made by <a href="" title="ultimatearm">ultimatearm</a> from <a
                            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.6/qs.min.js" integrity="sha512-3TmPrquYLaAsUmZKXRARTDC5siWhLAdBVqNo4dWpDABBtLU62AaoTaQJEvjxjExcZYurO6i1dnK85k8pPIBlRg==" crossorigin="anonymous"></script>
    {% block load_vue %}
    {% endblock %}
</body>
</html>