{% extends "base.html" %}

{% block title %} Кафедра дизайна и технологии {% endblock %}

{% block extra_base %}
{% load static %}
{% if username %}
<h4> Приложения кафедры дизайна и технологии</h4>

<div class="wrapper-all-applications">
    <div class="wrapper-application">
        <img src="{% static 'img/storage.svg' %}" width="100" height="100" class="" alt="">
        <a href="{% url 'storage:index' %}">Складской учёт</a>
    </div>
    <div class="wrapper-application">
        <img src="{% static 'img/macbook.svg' %}" width="100" height="100" class="" alt="">
        <a href="{% url 'employee:log_notebook' %}">Использование ноутбуков</a>
    </div>
    <!-- 
    <div class="wrapper-application">
        <img src="{% static 'img/bookmark.svg' %}" width="100" height="100" class="" alt="">
        <a href="">Выставление оценок</a>
    </div> -->
</div>

{% endif %}

{% endblock %}